    .vp-player {
      width: 800px; 
      height: 600px; 
      box-shadow:0 0 20px rgba(0,0,0,50); 
      display: flex; 
      flex-direction: column;
    }

    .vp-player__container {
      background-color: white; 
      flex-grow: 1;
    }
    
    .vp-player__btn{
      width: 35px;
      height: 35px;
      font-size: 20px; 
      margin-bottom: 2px;
      margin-right: 2px;
      border-style: none; 
      background: transparent; 
      cursor: pointer; 
      color: white
    }

    .vp-player__buttons {
      display: flex; 
      justify-content: space-between;
    }

    .vp-player__progress {
      display: flex; 
      flex-grow: 1;
    }
